<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}

    {{addLocalCSS  "/css/main.css" prepend=true hasOldIE=true}}
    {{addLocalCSS  "/css/main-grid.css" prepend=true hasOldIE=true}}
    {{addLocalCSS  "/css/rainbow/baby-blue.css"}}
    {{addLocalCSS "/css/css.css"}}

    {{> styles}}

    {{> html5shiv}}
    {{> analytics}}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?e12d6d03ce6ea69fb085e36b6e50aaa3";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>

    <script>{{{state}}}</script>

    <div id="layout">
        {{> menu}}

        <div id="main">

            {{{body}}}

            <div class="footer">
                {{> legal}}
            </div>
        </div>
    </div>

  {{#if yuiBoot}}
    {{> yui-boot}}
  {{/if}}

    {{addLocalJS "/js/ui.js"}}
    {{addLocalJS "/vendor/rainbow/rainbow.min.js"}}
    {{addLocalJS "/vendor/rainbow/language/generic.js"}}
    {{addLocalJS "/vendor/rainbow/language/html.js"}}
    {{addLocalJS "/vendor/rainbow/language/css.js"}}
    {{addLocalJS "/vendor/rainbow/language/javascript.js"}}
    {{addLocalJS "/vendor/rainbow/language/shell.js"}}

  {{#localJS}}
    <script src="{{{.}}}"></script>
  {{/localJS}}

</body>
</html>
