<div class="grid-input">
    <ul class="grid-tabs pure-g">
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link-selected grid-tab-link" href="#mqs">
                媒体查询（Media Queries）
            </a>
        </li>
        <li class="grid-tab pure-u">
            <a data-action="tab" class="grid-tab-link" href="#options">
                栅格选项
            </a>
        </li>
    </ul>

    <div class="grid-content">
        <form id="mqs" class="grid-panel-selected grid-panel pure-form-aligned pure-form">
            <h3>栅格媒体查询</h3>

            <p>
                你可以使用Pure默认的CSS媒体查询，或者在下面自定义。
            </p>

            <p>
                Pure生成的响应式栅格使用简单，每个CSS媒体查询对应一种class命名规则。例如 {{code "pure-u-md-*"}} 对应设备 {{code "width >= 768px"}}， {{code "pure-u-lg-*"}} 对应设备 {{code "width >= 1024px"}}.
            </p>

            <p>
				你要使用啥样的媒体查询？
            </p>

            <table id="media-query-table" {{#unless mediaQueries}}hidden{{/unless}}>
                <thead>
                    <tr class="pure-g">
                        <th class="pure-u-6-24">
                            关键字 <br>
                            <span class="media-query-table-example">
                                {{code ".pure-u-{关键字}-*"}}
                            </span>
                        </th>
                        <th class="pure-u-15-24 pure-u-sm-16-24">
                            媒体查询规则 <br>
                            <span class="media-query-table-example">
                                {{code "screen and (min-width: 48em)"}}
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each mediaQueries}}
                        {{> start/rows}}
                    {{/each}}
                </tbody>
            </table>

            <div class="controls">
                <button type="button" data-action="add-default-mq" class="pure-button pure-button-primary">
                    使用默认媒体查询
                </button>
                <button type="button" data-action="add-mq" class="pure-button">
                    添加媒体查询
                </button>
            </div>
        </form>

        <form id="options" class="grid-panel pure-form-aligned pure-form">
            <h3>栅格选项</h3>

            <p>
                Pure默认使用5列和24列的栅格系统。你可以用分数形式的class名定义元素宽度，例如 {{code ".pure-u-2-5"}} 即 {{code "width: 40%"}}，或 {{code ".pure-u-12-24"}} 即 {{code "width: 50%"}}。可以看一下默认的<a href="{{pathTo 'grids'}}#grids-units-sizes">栅格单元格</a>。
            </p>

            <p>
                你可以自定义列数，默认是24列。也可以修改class名的前缀，默认是 {{code ".pure-u-"}}。
            </p>

            <div>
                <div class="cols-control pure-control-group">
                    <label for="cols-input">
                        列数
                    </label>
                    <input id="cols-input" data-content="cols-input"
                           type="number" min="2" max="100" placeholder="24"
                           {{#if cols}}value="{{cols}}"{{/if}}>
                </div>

                <div class="prefix-control pure-control-group">
                    <label for="prefix-input">
                        前缀
                    </label>
                    <input id="prefix-input" data-content='prefix-input'
                           type="text" maxlength="20" placeholder=".pure-u-"
                           value="{{prefix}}">
                </div>
            </div>
        </form>
    </div>
</div>
