{{setTitle     "模板"}}
{{setSubTitle  "利用下面的模板，快速创建你的项目"}}
{{setActiveNav "layouts"}}

{{addLocalCSS "/css/layouts.css"}}
{{addLocalJS  "/js/track-downloads.js"}}

{{> header}}

<div class="content">
    {{sectionHeading "通用模板"}}
    <p>
        Pure精心设计，只为可以在任何Web项目中使用。为了例证这一点，我们制作了如下几个模板。这些模板都是响应式的，并且没有使用任何JavaScript。
    </p>

    <aside>
        <p>
            查看或者复制这些模板源码，有助于理解Pure。
        </p>
    </aside>

  {{#each layouts}}
    <div class="layout-item l-wrap pure-g">
        <div class="layout-item-screenshot content pure-u-1 u-sm-1-2">
            <a href="{{pathTo 'layout' layout=name}}">
                <img src="/img/layouts/{{name}}@2x.jpg" class="pure-img-responsive" width="400" height="214"
                     alt="Screenshot of {{label}} example layout.">
            </a>
        </div>

        <div class="layout-item-content content pure-u-1 u-sm-1-2">
            <h3 class="layout-item-head">{{label}}</h3>
            <p>{{description}}</p>

          {{#if tags}}
            <ul class="layout-item-modules pure-g">
              {{#each tags}}
                <li class="layout-item-module layout-item-module-{{.}} pure-u">
                    <a href="{{pathTo .}}">{{.}}</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}

            <p>
                <a href="{{pathTo 'layout' layout=name}}"
                   class="pure-button pure-button-primary">查看</a>

                <a download href="{{pathTo 'layout-download' layout=name}}"
                   onclick="return Pure.trackDownload.call(this, 'layouts', '{{name}}');"
                   class="pure-button">下载</a>
            </p>
        </div>
    </div>
  {{/each}}
</div>
