{{setTitle     "基础"}}
{{setSubTitle  "Pure基于Normalize.css（一个支持HTML5的CSS重置文件）"}}
{{setActiveNav "base"}}

{{> header}}

<div class="content">
    {{sectionHeading "基础"}}
    <p>
        所有Pure模块都是基于<a href="http://necolas.github.com/normalize.css/">Normalize.css</a>构建的。它是我们的基础层，一定程度上保证了跨浏览器的一致性。我们使用Normalize的v1.x版本，因为他支持旧版的IE。我们深深地热爱Normalize，所以把它放在了我们的CDN服务器上。你可以引用下面的代码引入Normalize.css。
    </p>

    {{#code wrap=true}}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure.version}}/base-min.css">
    {{/code}}

    <h3>Normalize.css点滴</h3>
    <p>
        <a href="http://necolas.github.com/normalize.css/">Normalize.css</a>是<a href="http://twitter.com/necolas">Nicolas Gallagher</a>和<a href="http://twitter.com/jon_neal">Jonathan Neal</a>的开源项目。<a href="http://nicolasgallagher.com/about-normalize-css/">用他们的话说</a>:
    </p>

    <blockquote class="content-quote">
		"Normalize.css是一个小的CSS文件，为HTML元素样式提供跨浏览器的一致性。它是一个现代的、支持HTML5的、传统CSS重置的替代。"
    </blockquote>

    <p>
        Normalize.css有<a href="https://github.com/necolas/normalize.css/wiki">大量的文档</a>和<a href="http://nicolasgallagher.com/about-normalize-css/">详尽的指南</a>(解释了它同传统CSS重置的区别)。你也可以查看YUI的<a href="http://yuilibrary.com/yui/docs/cssnormalize/">CSSNormalize</a>模块，它包含了通用的Normalize以及一个<a href="http://yuilibrary.com/yui/docs/cssnormalize/#context">上下文版</a>。这个上下文版的Normallize只适用于标准化的子元素，他们的父元素必须包含class {{code "yui3-normalized"}}。
    </p>

    {{sectionHeading "扩展"}}
    <p>
        除了Normalize.css的规则，Pure的基础模块，包含大多数网站常用的一些样式。
    </p>

    <h3>隐藏元素</h3>

    <p>
        HTML元素添加{{code "hidden"}}属性，可实现隐藏效果{{code "display: none !important;"}}。
    </p>

    {{#code "html"}}
    <input type="text" name="_csrf" hidden>
    {{/code}}

    <h3>响应式的图片</h3>

    <p>
        {{code "<img>"}}添加class{{code ".pure-img"}}，配合viewport可实现图片伸缩，做响应式网站的时候比较有用。
    </p>

    {{#code "html"}}
    <img class="pure-img" src="...">
    {{/code}}

    {{sectionHeading "超越Normalize"}}
    <p>
        Normalize.css是创建项目的一个很好的起点，但是很多元素比如表单、表格和菜单，需要更好的样式，Normalize不能提供。
    </p>

    <p>
        Pure为这些元素提供了更个性化的样式，但是为了保持足够小，只满足最基本的需求，你可以在此基础上进行自定义。请查看Pure提供的样式：<a href="{{pathTo 'forms'}}">表单</a>、<a href="{{pathTo 'tables'}}">表格</a>和<a href="{{pathTo 'menus'}}">菜单</a>。
    </p>
</div>
