{{setTitle     "按钮"}}
{{setSubTitle  "简单的CSS按钮样式"}}
{{setActiveNav "buttons"}}

{{addRemoteCSS "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"}}
{{addRemoteCSS "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome-ie7.css"}}

{{> header}}

<div class="content">

    {{sectionHeading "默认按钮"}}
    <p>
        给{{code "<a>"}} 或者 {{code "<button>"}} 元素添加class {{code "pure-button"}}，可实现默认按钮样式。
    </p>

  {{#prefixIds "default"}}
    {{> buttons/default}}
  {{/prefixIds}}


  {{#code}}
    {{> buttons/default}}
  {{/code}}

    {{sectionHeading "禁用按钮"}}
    <p>
        先添加class {{code "pure-button"}}，再加{{code "pure-button-disabled"}}。
    </p>

  {{#prefixIds "disabled"}}
    {{> buttons/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/disabled}}
  {{/code}}

    {{sectionHeading "激活按钮"}}
    <p>
        同样先添加{{code "pure-button"}}，然后再添加 {{code "pure-button-active"}} 就可以实现“激活/按下”的效果。
    </p>

  {{#prefixIds "active"}}
    {{> buttons/active}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/active}}
  {{/code}}

    {{sectionHeading "主要按钮（最常用的）"}}
    <p>
        添加class {{code "pure-button"}} 和 {{code "pure-button-primary"}}。
    </p>

  {{#prefixIds "primary"}}
    {{> buttons/primary}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/primary}}
  {{/code}}



    {{sectionHeading "自定义"}}
    <p>
        多谢Pure只提供最小化样式，自定义变得很简单。
    </p>

    <p>
        在添加class {{code "pure-button"}}的基础上，再添加自己的class就行了，看下面2个例子。
    </p>

    <h3 class="content-subhead">自定义颜色和圆角</h3>

  {{#prefixIds "primary"}}
    {{> buttons/colors}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/colors}}
  {{/code}}


    <h3 class="content-subhead">自定义大小</h3>

  {{#prefixIds "primary"}}
    {{> buttons/sizes}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/sizes}}
  {{/code}}


    <h3 class="content-subhead">添加图标</h3>
    <p>
        Pure本身不提供图标，但它可以使用其他框架的图标。下面的例子使用<a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>。把<a href="http://fortawesome.github.io/Font-Awesome/get-started/">Font Awesome 的CSS文件 </a> 引入页面，然后在{{code "pure-button"}}里加个 {{code "<i>"}} 元素。
    </p>

  {{#prefixIds "primary"}}
    {{> buttons/icons}}
  {{/prefixIds}}

  {{#code}}
    {{> buttons/icons}}
  {{/code}}

</div>

{{> prevent-scroll}}
