{{setTitle         "表单"}}
{{setSubTitle      "简单的CSS表单样式"}}
{{setActiveNav     "forms"}}
{{setIncludePureGR true}}

{{> header}}

<div class="content">

    {{sectionHeading "默认表单"}}
    <p>
        给{{code "<form>"}}加个class{{code "pure-form"}}就可以创建默认的单行表单。
    </p>

  {{#prefixIds "default"}}
    {{> forms/default}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/default}}
  {{/code}}


    {{sectionHeading "堆叠式"}}
    <p>
        加了class {{code "pure-form"}}后，再加个class {{code "pure-form-stacked"}}可实现如下效果：
    </p>

  {{#prefixIds "stacked"}}
    {{> forms/stacked}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/stacked}}
  {{/code}}


    {{sectionHeading "对齐式"}}
    <p>
        还是先给{{code "<form>"}}标签加默认class {{code "pure-form"}} ，然后再加 {{code "pure-form-aligned"}} 。对齐式表单，label显示在input的左边，但是屏幕缩小以后就跟上面堆叠式表单显示一样了，可以缩放浏览器试试。
    </p>

  {{#prefixIds "aligned"}}
    {{> forms/aligned}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/aligned}}
  {{/code}}

    {{sectionHeading "多列式 (配合栅格)"}}
    <p>
        表单元素放入单元格就可以形成多列的效果。
    </p>

  {{#prefixIds "multi"}}
    {{> forms/multi}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/multi}}
  {{/code}}

    {{sectionHeading "input分组"}}
    <p>
        标签{{code "<fieldset>"}} 加class {{code "pure-group"}} 然后把input包起来，可实现分组的效果，适合注册表单，在移动端也挺好看。
    </p>

  {{#prefixIds "grouped"}}
    {{> forms/grouped}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/grouped}}
  {{/code}}


    {{sectionHeading "Input 大小"}}
    <p>
        Input 元素大小设置跟<a href="{{pathTo 'grids'}}">栅格系统</a>类似，添加class： {{code "pure-input-*"}} 就可以了。
    </p>

  {{#prefixIds "input-size"}}
    {{> forms/input-size}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-size}}
  {{/code}}

    <p>
        你可以通过栅格系统进一步控制input大小。下面的例子 {{code "<input>"}} 虽然有class {{code "pure-input-1"}} 但是被栅格 {{code "<div>"}} 包起来了。
    </p>

  {{#prefixIds "input-grid"}}
    {{> forms/input-grid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-grid}}
  {{/code}}


    {{sectionHeading "必填的 Inputs"}}
    <p>
        添加 {{code "required"}} 属性，标识必填的input。
    </p>

  {{#prefixIds "invalid"}}
    {{> forms/invalid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/invalid}}
  {{/code}}


    {{sectionHeading "禁用输入框Disabled Inputs"}}
    <p>
        添加 {{code "disabled"}} 属性，禁止输入。
    </p>

  {{#prefixIds "disabled"}}
    {{> forms/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/disabled}}
  {{/code}}


    {{sectionHeading "只读 Inputs"}}
    <p>
        添加 {{code "readonly"}} 属性，input不能输入，但是可以复制。
    </p>

  {{#prefixIds "readonly"}}
    {{> forms/readonly}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/readonly}}
  {{/code}}


    {{sectionHeading "圆角 Inputs"}}
    <p>
        添加class {{code "pure-input-rounded"}} 可实现圆角效果。
    </p>

  {{#prefixIds "rounded"}}
    {{> forms/rounded}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/rounded}}
  {{/code}}


    {{sectionHeading "复选Checkboxes 和 单选Radios"}}
    <p>
        添加class {{code "pure-checkbox"}} 或 {{code "pure-radio"}} 可使checkbox、radio排列整齐。
    </p>

  {{#prefixIds "checkbox-radio"}}
    {{> forms/checkbox-radio}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/checkbox-radio}}
  {{/code}}
</div>
