{{setTitle     "菜单"}}
{{setSubTitle  "简单的菜单样式"}}
{{setActiveNav "menus"}}

{{addLocalCSS "/css/menus.css"}}

{{> header}}

<div class="content">

    {{sectionHeading "横向菜单"}}
    <p>
        添加class {{code "pure-menu-horizontal"}} 可实现横向菜单效果，选中菜单class： {{code "pure-menu-selected"}} 。
    </p>

    {{> menus/horizontal}}

  {{#code}}
    {{> menus/horizontal}}
  {{/code}}


    {{sectionHeading "菜单前加标题"}}
    <p>
        在{{code "<ul>"}} 前用 {{code "<a>"}} 元素把标题包起来，再给{{code "<a>"}}加个class {{code "pure-menu-heading"}} 。
    </p>

    {{> menus/heading}}

  {{#code}}
    {{> menus/heading}}
  {{/code}}


    {{sectionHeading "纵向菜单"}}
    <p>
        菜单默认就是纵向的，添加class {{code "pure-menu"}} 就可以了，添加 {{code "pure-menu-open"}} 显示菜单。
    </p>

    {{> menus/vertical}}

  {{#code}}
    {{> menus/vertical}}
  {{/code}}


    {{sectionHeading "下拉菜单"}}
    <p>
        下拉菜单需要使用JavaScript，比如利用 {{code "Y.Menu"}} 提供的下拉菜单模块。
    </p>

    {{> menus/dropdown}}
    <script>
        app.yui.ready(function () {
            {{> menus/dropdown-script}}
        });
    </script>

{{#code}}
{{> menus/dropdown}}
<script>
{{> menus/dropdown-script}}</script>
{{/code}}


    {{sectionHeading "带有禁用项的菜单"}}
    <p>
        给 {{code "<a>"}} 添加class {{code "pure-menu-disabled"}} 可实现禁用的效果。
    </p>

    {{> menus/disabled}}

  {{#code}}
    {{> menus/disabled}}
  {{/code}}


    {{sectionHeading "分页"}}
    <p>
        给{{code "<ul>"}} 加class {{code "pure-paginator"}} 可实现分页效果，如果再添加 {{code "pure-button"}} 可实现按钮效果。
    </p>

    {{> menus/paginator}}

  {{#code}}
    {{> menus/paginator}}
  {{/code}}

</div>

{{> prevent-scroll}}
