{{setTitle         "开始使用"}}
{{setSubTitle      "下个项目，务必使用Pure"}}
{{setActiveNav     "start"}}
{{setLoadYUI       true}}
{{setYUIBoot       "start/app"}}
{{setIncludePureGR true}}

{{addLocalCSS "/css/start.css"}}
{{addLocalJS  "/js/track-downloads.js"}}

{{> header}}

<div class="content">
    {{sectionHeading "页面中引入Pure"}}

    <p>
        可以使用雅虎免费的<b>CDN</b>，把下面一行加入页面的{{code "<head>"}}。
    </p>
</div>

<div class="is-code-full">
  {{#code wrap=true}}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure.version}}/pure-min.css">
  {{/code}}
</div>

<div class="content">
    <aside>
        <p>
            由于某些原因，咱们一般需要<a href="https://github.com/yahoo/pure-release/archive/v{{pure.version}}.zip">下载 Pure</a>。这里也有一些<a href="{{pathTo 'customize'}}">其它的CDN</a>。
        </p>
    </aside>

    {{sectionHeading "添加 Viewport Meta 元素"}}

    <p>
        viewport {{code "meta"}} 元素控制移动端浏览器的宽度和缩放。为了自适应设备的宽度，下面一行加入 {{code "<head>"}}。
    </p>
</div>

<div class="is-code-full">
  {{#code wrap=true}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {{/code}}
</div>

<div class="content">
    {{sectionHeading "理解Pure的栅格（Grids）"}}

    <p>
        类似Excel表格或CSS的table，创建行用 {{code ".pure-g"}} 类，在行中创建列用 {{code "pure-u-*"}} 类.
    </p>

    <p>
        1行3列的栅格：
    </p>

  {{#code}}
    {{> grids/intro}}
  {{/code}}
</div>

<div class="grids-example">
    {{> grids/intro}}
</div>

<div class="content">
    {{sectionHeading "响应式栅格"}}

    <p>
        Pure的栅格系统是<b>移动设备优先</b>、<b>响应式</b>的，你也可以<a href="#build-your-pure-starter-kit">自定义</a>CSS媒体查询和栅格的class名，我们先来看个普通使用的例子。
    </p>

    <p>
        首先引入 {{code "grids-responsive.css"}} ：
    </p>

  {{#code}}
    {{> grids/combo}}
  {{/code}}

    <p>
        下面是 {{code "grids-responsive.css"}} 文件中默认的响应判断：
    </p>

    <div class="table-responsive">
        {{> grids/mq-table}}
    </div>

    <p>
        下面是例子，<i>缩放你的浏览器看下效果。</i>
    </p>
</div>

<div class="grids-example">
    {{> grids/responsive}}
</div>

<div class="content">
    <aside>
        <p>
            <a href="{{pathTo 'grids'}}#pure-responsive-grids">继续学习</a>如何使用栅格系统。
        </p>
    </aside>

    {{sectionHeading '创建Pure初始页的小工具' id='build-your-pure-starter-kit'}}

    <p>
        你已经知道栅格如何应用了，你可以自定义CSS媒体查询、布局的列数。
    </p>

    <p>
        下面的小工具将生成 {{code "index.html"}} 文件（如果需要的话，也生成 {{code "grid.css"}}），你可以下载后作为项目的初始文件。
    </p>

    {{> start/grid-input-view}}

    <div class="grid-download">
        <p>
            下面是实时的预览，设置完成后下载即可。
        </p>
    </div>

    {{> start/grid-output-view}}

    <aside>
        <p>
            推荐几套<a href="{{pathTo 'layouts'}}">相当不错的模板</a>，都不要钱~
        </p>
    </aside>
</div>
