{{setTitle     "表格"}}
{{setSubTitle  "简单的表格样式"}}
{{setActiveNav "tables"}}

{{> header}}

<div class="content">

    {{sectionHeading "默认表格"}}
    <p>
        给table添加class {{code "pure-table"}} 可以添加默认的padding、border，同时突出表头。
    </p>

    {{> tables/default}}

  {{#code}}
    {{> tables/default}}
  {{/code}}


    {{sectionHeading "有边框的表格"}}
    <p>
        在默认表格上加class {{code "pure-table-bordered"}} 。
    </p>

    {{> tables/bordered}}

  {{#code}}
    {{> tables/bordered}}
  {{/code}}


    {{sectionHeading "有水平边框的表格"}}
    <p>
        在默认表格上加class {{code "pure-table-horizontal"}} 。
    </p>

    {{> tables/horizontal}}

  {{#code}}
    {{> tables/horizontal}}
  {{/code}}


    {{sectionHeading "斑马纹式的表格"}}
    <p>
        为了让比较大的表格看起来容易区分行。隔行添加class {{code "pure-table-odd"}} 可实现斑马纹的效果。
    </p>

    <p>
        <b>注意:</b> 支持CSS3 <a href="http://caniuse.com/#search=nth-child">伪类选择器 {{code "nth-child"}} </a>的浏览器，给table添加class {{code "pure-table-striped"}} 就可以自动生成斑马纹效果，IE8及以下版本不支持。
    </p>

    {{> tables/striped}}

  {{#code}}
    {{> tables/striped}}
  {{/code}}
</div>
