<table class="mq-table pure-table-bordered pure-table">
    <thead>
        <tr>
            <th class="highlight">关键词</th>
            <th class="highlight">CSS 媒体查询</th>
            <th>适用于</th>
            <th>Class名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="highlight"><i>无</i></td>
            <td class="highlight"><i>无</i></td>
            <td><i>所有</i></td>
            <td>{{code ".pure-u-*"}}</td>
        </tr>

      {{#gridsMQs pure.responsive.mediaQueries}}
        <tr>
            <td class="highlight"><b>{{code this.id}}</b></td>
            <td class="mq-table-mq highlight"><code>@media {{this.mq}}</code></td>
            <td>≥ <b>{{toPx this.expressions.0.value}}</b></td>
            <td><code>.pure-u-<b>{{this.id}}</b>-*</code></td>
        </tr>
      {{/gridsMQs}}
    </tbody>
</table>
